@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway-800.woff2") format("woff2");
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  color: #444444;
  background-color: #ffffff;
  font-weight: 400;
  min-width: 1440px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 1160px;
  margin: 0 auto;
}

.main-header {
  padding: 5px 60px 0 60px;
  background-image: linear-gradient(#ffffff 15%, #ffe17f 15%);
}

.navigation {
  display: flex;
  width: 1040px;
  position: relative;
}

.navigation-link {
  text-decoration: none;
  color: #000000;
  margin: 0;
  display: inline-block;
}

.navigation-catalog .navigation-link {
  padding: 15px 0;
}

.navigation-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.navigation-logo {
  position: absolute;
  top: 0;
  left: 0;
}

.navigation-wrapper {
  margin-top: 66px;
  margin-bottom: 30px;
  display: flex;
  gap: 26px;
}

.site-navigation {
  display: flex;
  max-width: 517px;
}

.field {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  margin: 0;
  background-color: #ffe17f;
  padding-left: 48px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid #000000;
  width: 310px;
  font: inherit;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.button {
  display: block;
  box-siZing: border-box;
  text-align: center;
  cursor: pointer;
  border: none;
  background-color: #ffe17f;
  font-family: "Raleway", "Arial, sans-serif";
  font-size: 18px;
  line-height: 21px;
  padding: 0;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.navigation-button {
  font-family: "Rubik", "Arial", sans-serif;
  color: #000000;
  min-width: 160px;
  padding: 10px 10px;
  background-color: #ffe17f;
  font-family: inherit;
  text-transform: none;
  letter-spacing: normal;
  font-size: 16px;
  line-height: 20px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: 2px solid #000000;
  border-left: none;
}

.navigation-user {
  gap: 26px;
  align-items: center;
  width: 497px;
}

.user-link {
  width: 231px;
}

.cart-link {
  width: 99px;
  position: relative;
}

.navigation-icon {
  margin-right: 9px;
}

.cart-quantity {
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-align: center;
  border-radius: 50%;
  background-color: #ffffff;
  padding: 2px 7px;
  box-sizing: border-box;
  display: inline-block;
  position: absolute;
  left:-18px;
  top: 15%;
}

.cart-item {
  margin-left: auto;
}

.catalog-container {
  display: flex;
}

.navigation-catalog {
  margin-left: auto;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3px;
  text-transform: uppercase;
  max-width: 471px;
}

.catalog-item:first-child {
  margin-right: 47px;
}

.catalog-item:last-child {
  margin-left: 45px;
}

.catalog-icon-button {
  border: 2px solid #000000;
  opacity: 0.3;
  border-radius: 50%;
  padding: 17px 17px;
  margin-left: 10px;
}

.slider-container {
  display: flex;
  justify-content: space-between;

}

.catalog-features {
  max-width: 560px;
  padding-top: 105px;
  padding-bottom: 35px;
}

.slider-image {
  display: block;
}

.item-advantage {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  margin-bottom: 29px;
}

.item-description {
  margin: 0;
  margin-bottom: 50px;
}

.more-button {
  width: 220px;
  padding: 10px 5px;
  margin-bottom: 50px;
  text-decoration: none;
  background-image: linear-gradient(#ffffff 40%, #ffe17f 40%, #ffe17f 58%, #ffffff 58%);
}

.description {
  color: #000000;
  font-size: 36px;
  line-height: 36px;
}

.definition {
  font-weight: inherit;
}

.slider-button {
  background-color: transparent;
}

.slider-division {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 70px;
}

.slider-navigation {
  margin-right: 20px;
}

.slider-division-button {
  display: inline-block;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.current-slider-button {
  background-color: #000000;
}

.slider-product-image {
  position: relative;
}

.slider-button-container {
  position: absolute;
  top: 66%;
  display: flex;
  justify-content: space-between;
  width: 530px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffe17f;
}

.active-catalog-link {
  align-items: end;
}

.catalog-product {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.product-item {
  display: grid;
  grid-template-rows: 160px 60px;
  row-gap: 32px;
}

.range-of-products {
  margin-bottom: 70px;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 140px 72px 140px;
  background-image: linear-gradient(#ffffff 102px, #f0f0f0 102px, #f0f0f0 289px);
}

.services {
  margin-bottom: 70px;
}

.services-wrapper {
  max-width: 1160px;
  display: flex;
}

.tabs-list,
.services-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tabs-content-wrapper {
  width: 287px;
  padding-top: 64px;
  padding-bottom: 65px;
  border-right: 7px solid #000000;
}

.tabs-description-wrapper {
  position: relative;
  width: 873px;
  padding: 73px 305px 73px 116px;
}

.tabs-description-wrapper::after {
  position: absolute;
  content: "";
  width: 136px;
  height: 164px;
  background-image: url("../images/decoration/delivery-icon.svg");
  top: 77px;
  right: 63px;
}

.tabs-item:not(:last-child) {
  margin-bottom: 35px;
}

.service-title {
  margin-bottom: 34px;
}

.service-description {
  margin-bottom: 0;
}

.service-item {
  display: none;
}

.service-item-active {
  display: block;
}

.tabs-item-active {
  background-color: #000000;
  color: #efe17f;
}

.active-button {
  background-color: #000000;
  color: #efe17f;
}

.advantages-button {
  padding: 9px 4px;
}

.delivery-form {
  margin-bottom: 70px;
}

.delivery-form-wrapper {
  position: relative;
  background-color: #f0f0f0;
  text-align: center;
  cursor: pointer;
}

.delivery-form-wrapper::before {
  position: absolute;
  content: "";
  width: 125px;
  height: 100px;
  background-image: url("../images/decoration/truck-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  background-color: #ffe17f;
}

.delivery-form-wrapper::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  background-image: url("../images/decoration/form-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 0 solid #dcdcdc80;
  border-radius: 50%;
  background-color: #dcdcdc80;
  top: 30px;
  right: 42px;
}

.button-delivery {
  width: 1160px;
  background-color: #f0f0f0;
  padding: 39px 125px 38px 125px;
}

.delivery-feature {
  font-size: 20px;
  line-height: 23px;
}

.details-about-us {
  margin-bottom: 70px;
}

.details-container {
  width: 1160px;
  display: flex;
  justify-content: space-between;
}

.about-title,
.contacts-title {
  margin-bottom: 48px;
}

.about-description,
.contacts-description {
  margin-bottom: 30px;
}

.about-us-wrapper,
.contacts-wrapper {
  position: relative;
  padding: 47px 0 0 0;
}

.about-us-wrapper::before,
.contacts-wrapper::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 84px;
  height: 7px;
  background-color: #000000;
}

.about-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 30px;
}

.about-item::before {
  position: absolute;
  content: "";
  background-color: #ffc700;
  width: 8px;
  height: 8px;
  left: 0;
  top: 6px;
  border: 0 solid #ffc700;
  border-radius: 50%;
}

.about-item {
  position: relative;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #000000;
  padding-left: 34px;
}

.about-item:not(:last-child) {
  margin-bottom: 19px;
}

.contacts-subtitle {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 15px;
}

.shop-address {
  font-weight: inherit;
  font-style: normal;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.address,
.phone {
  margin: 0;
  color: #444444;
}

.contacts-schedule {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 30px;
}
