@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway-800.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  color: #444444;
  background-color: #ffffff;
  font-weight: 400;
  min-width: 1300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-index {
  flex-grow: 1;
}

.main-inner {
  flex-grow: 1;
}

.main-header {
  position: relative;
  z-index: 5;
}

.header-container {
  width: 1160px;
  margin: 0 auto;
  background-image: linear-gradient(#ffffff 19%, #ffe17f 13%);
  padding: 20px 60px 0 60px;
}

.logo {
  display: block;
}

.navigation-logo:hover,
.footer-logo:hover {
  opacity: 0.6;
}

.navigation-logo:active,
.footer-logo:active {
  opacity: 0.3;
}


.navigation-logo:focus,
.footer-logo:focus {
  outline: 2px solid #af4fff;
}

.navigation-logo {
  display: inline-block;
  width: 145px;
  margin-bottom: 19px;
}

.navigation-link {
  text-decoration: none;
  color: #000000;
  margin: 0;
  display: inline-block;
}

.navigation-link-login {
  opacity: 0.3;
  margin-left: 28px;
}

.catalog-item .navigation-link {
  padding: 15px 0;
}

.navigation-link:hover {
  opacity: 0.6;
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-link:focus {
  outline: 2px solid #af4fff;
}

.navigation-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.navigation-wrapper {
  width: 1040px;
  margin-bottom: 28px;
  display: flex;
  gap: 26px;
}

.site-navigation {
  display: flex;
  width: 517px;
  position: relative;
}
.form-search-icon {
  position: absolute;
  left: 16px;
  top: 14px;
}

.field {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  margin: 0;
  background-color: #ffe17f;
  padding-left: 48px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid #000000;
  width: 359px;
  font: inherit;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  position: relative;
  display: block;
  cursor: pointer;
}

.field:disabled,
.field:disabled + .form-search-icon {
  opacity: 0.3;
}

.field-wrapper {
  display: block;
  position: relative;
}

.field-wrapper::after {
  content: "";
  position: absolute;
  width: 363px;
  height: 100%;
  outline: 2px solid #af4fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 5;
  display: none;
}

.field-wrapper:focus-within::after {
  display: block;
}

.button {
  display: block;
  text-align: center;
  cursor: pointer;
  border: none;
  font-family: "Raleway", "Arial" , sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-decoration: none;
  background: transparent;
  padding: 10px 5px;
  background: transparent;
}

.button-yellow {
  background-image: linear-gradient(transparent 40%, #ffe17f 40%, #ffe17f 58%, transparent 58%);
  transition: 0.3s;
}

.button-yellow:hover {
  background-image: linear-gradient(#ffe17f 50%, #ffe17f 50%);
}

.button-yellow:active {
  background-image: linear-gradient(#ffcc33 50%, #ffcc33 50%);
}

.button-yellow:focus {
  outline: 2px solid #af4fff;
}

.button-yellow:disabled {
  background-image: linear-gradient(transparent 40%, #ffe17f 40%, #ffe17f 58%, transparent 58%);
  opacity: 0.3;
}

.button-yellow.active-button:hover,
.button-yellow.active-button:active,
.tabs-item-active .active-button:focus {
  margin-left: 40px;
}

.advantages-button.button-yellow:focus {
  margin-left: 0;
  width: 100%;
  outline: 2px solid #af4fff;
}

.navigation-button {
  font-family: "Rubik", "Arial", sans-serif;
  color: #000000;
  width: 160px;
  padding: 10px 10px;
  background-color: #ffe17f;
  font-family: inherit;
  text-transform: none;
  letter-spacing: normal;
  font-size: 16px;
  line-height: 20px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: 2px solid #000000;
  border-left: none;
  position: relative;
}

.navigation-button-wrapper {
  display: block;
  position: relative;
}

.navigation-button-wrapper::after {
  position: absolute;
  content: "";
  width: 165px;
  height: 50px;
  border: 2px solid #af4fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.navigation-button:hover,
.navigation-button:active {
  color: #ffffff;
  background-color: #000000;
}

.navigation-button:active .search-button{
  color: #ffffff;
  opacity: 0.3;
}

.navigation-button-wrapper:focus-within::after {
  display: block;
}

.button .search-button:active {
  color:#ffffff;
  opacity: 0.3;
}

.navigation-button:disabled {
  opacity: 0.3;
  color: #000000;
  background-color: #ffe17f;
  border-color: #000000;
}

.navigation-user {
  align-items: center;
  width: 497px;
}

.login-item {
  margin-right: auto;
}

.cart-link {
  position: relative;
  display: block;
}

.navigation-icon {
  margin-right: 8px;
}

.cart-quantity {
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-align: center;
  border-radius: 50%;
  background-color: #ffffff;
  padding: 2px 7px;
  display: inline-block;
  position: absolute;
  left: -43px;
  top: 15%;
  z-index: 12;
}

.cart-item-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.stats-item {
  padding-left: 26px;
  padding-right: 5px;
}

.cart-item {
  padding-left: 55px;
}

.cart-icon {
  position: absolute;
  top: 6px;
  left: -26px;

}

.cart-item:hover .popover,
.cart-item:focus-within .popover {
  display: block;
}

.navigation-item {
  position: relative;
}

.popover {
  position: absolute;
  top: 36px;
  right: -77px;
  z-index: 4;
  width: 320px;
  font-family: "Rubik", "Arial", sans-serif;
  color: #ffffff;
  background-color: #000000;
  display: none;
}

.popover-open {
  display: block;
}

.popover::before {
  content: "";
  position: absolute;
  top:-6px;
  right: 47%;
  width: 14px;
  height: 6px;
  background-image: url("../images/decoration/popover-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.popover-content {
  height: 100%;
}

.cart-item-link {
  display: flex;
  color: #ffffff;
  text-decoration: none;
}

.cart-item-popover {
  position: relative;
  display: flex;
  padding: 20px 20px;
  align-items: center;
  width: 320px;
}

.cart-item-popover:not(:nth-last-child(2)) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.cart-item-popover:hover {
  opacity: 0.6;
}

.cart-item-popover:active {
  opacity: 0.3;
}

.cart-item-link:focus-within {
  outline: 2px solid #af4fff;
}

.cart-item-product {
  display: block;
  margin-right:23px;
}

.cart-item-title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  padding-right: 10px;
}

.cart-item-button {
  position: absolute;
  top: 20px;
  right: 20px;
  display: inline-block;
  padding: 0;
  width: 10px;
  height: 10px;
}

.icon-button {
  display: block;
}

.cart-item-button:focus {
  outline: 2px solid #af4fff;
}

.cart-overall {
  font-size: 16px;
  line-height: 20px;
  padding: 11px 20px;
  position: relative;
  display: flex;
  align-items: center;
  width: 320px;
  background-color: #1a1a1a;
}

.cart-item-popover.cart-overall:hover,
.cart-item-popover.cart-overall:active {
  opacity: 1;
}

.cart-item-price {
  margin-left: auto;
}

.cart-button {
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  width: 280px;
  padding: 16px 23px;
  letter-spacing: 0.2em;
  font-weight: 800;
  margin: 20px;
}

.cart-button:hover {
  background-color: #ffe17f;
}

.cart-button:active {
  background-color: #ffe17f;
  color: rgba(0, 0, 0, 0.3);
}

.cart-button:focus {
  outline: 2px solid #af4fff;
}

.cart-button:disabled {
  color: rgba(0, 0, 0, 0.3);
}

.catalog {
  width: 1040px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-item:focus-within .subcatalog {
  display: block;
}

button:hover .subcatalog,
button:active .subcatalog {
  display: block;
}

.navigation-catalog {
  margin-left: auto;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  gap: 45px;
}

.catalog-list-preview {
  margin-right: auto;
  position: relative;
}

.catalog-button-preview {
  position: relative;
  padding: 0;
  width: 293px;
  text-align: left;
  padding-right: 57px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.catalog-button-preview::after {
  position: absolute;
  content: "";
  background-image: url("../images/decoration/catalog-button-icon-minus.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  border: 2px solid #000000;
  border-radius: 50%;
  color: #000000;
  opacity: 0.3;
  right: 0;
  bottom: 0;
  display: block;
}

.submenu-closed::after {
  background-image: url("../images/decoration/catalog-button-icon.svg");
}

/* .catalog-button-preview::before {
  position: absolute;
  content: "";
  background-image: url("../images/decoration/catalog-button-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  border: 2px solid #000000;
  border-radius: 50%;
  color: #000000;
  opacity: 0.3;
  right: 0;
  bottom: 0;
}

.catalog-show-more::after {
  position: absolute;
  content: "";
  background-image: url("../images/decoration/catalog-button-icon-minus.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  border: 2px solid #000000;
  border-radius: 50%;
  color: #000000;
  opacity: 0.3;
  right: 0;
  bottom: 0;
  display: none;
}

.button:hover.catalog-button-preview::before {
  opacity: 1;
}

.button:active.catalog-button-preview::before {
  opacity: 1;
  display: none;
}

.button:hover.catalog-show-more::after {
  opacity: 1;
}

.button:active.catalog-show-more::after {
  opacity: 1;
  display: block;
} */

.catalog-list-preview .catalog-button-preview:focus {
  outline: 2px solid #af4fff;
}

.subcatalog-main,
.subcatalog-secondary,
.subcatalog-tertiary {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.subcatalog-link {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: normal;
  font-weight: 400;
  text-decoration: none;
  text-transform: initial;
  color: #000000;
}

.subcatalog-link:hover {
  opacity: 0.6;
}

.subcatalog-link:active {
  opacity: 0.3;
}

.subcatalog-link:focus-visible {
  outline: 2px solid #af4fff;
}

.subcatalog-wrapper {
  display: flex;
  padding: 14px 60px 60px 60px;
  position: absolute;
  background-image: linear-gradient(transparent -24px, #ffe17f 20px);
  width: 1160px;
  left: -60px;
  top: 100%;
}

.subcatalog-close {
  display: none;
}

.subcatalog-open {
  display: flex;
  padding: 14px 60px 60px 60px;
}

.subcatalog-item {
  margin-bottom: 15px;
}

.subcatalog-main {
  min-width: 222px;
  margin-right: 30px;
}

.subcatalog-secondary {
  min-width: 211px;
}

.subcatalog-tertiary {
  min-width: 211px;
}

.slider {
  margin-top: -15px;
  margin-bottom: 67px;
}

.slider-wrapper {
  width: 1160px;
  margin: 0 auto;
  position: relative;
}

.slider-item {
  display: none;
}

.slider-item-active {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to bottom, #ffe17f 150px, #ffffff 150px, #ffffff 400px);
  position: relative;
}

.catalog-features {
  max-width: 560px;
  padding-top: 121px;
  padding-bottom: 38px;
}

.slider-image {
  display: block;
}

.item-advantage {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  margin-bottom: 29px;
}

.advantage-number-one {
  position: relative;
  z-index: 1;
}

.advantage-number-one::after {
  content: "";
  position: absolute;
  width: 250px;
  height: 135px;
  background-image: url("../images/decoration/background-decor-one.png");
  background-repeat: no-repeat;
  background-position: center;
  top: -96px;
  right: 32px;
  z-index: -2;
}

.advantage-number-two {
  position: relative;
  z-index: 1;
}

.advantage-number-two::after {
  content: "";
  position: absolute;
  width: 250px;
  height: 135px;
  background-image: url("../images/decoration/background-decor-two.png");
  background-repeat: no-repeat;
  background-position: center;
  top: -100px;
  right: 43px;
  z-index: -2;
}

.advantage-number-three {
  position: relative;
  z-index: 1;
}

.advantage-number-three::after {
  content: "";
  position: absolute;
  width: 250px;
  height: 135px;
  background-image: url("../images/decoration/background-decor-three.png");
  background-repeat: no-repeat;
  background-position: center;
  top: -95px;
  right: 47px;
  z-index: -2;
}

.item-description {
  margin: 0;
  margin-bottom: 48px;
}

.more-button {
  width: 220px;
  margin-bottom: 46px;
}

.description {
  color: #000000;
  font-size: 36px;
  line-height: 30px;
  padding-bottom: 9px;
}

.definition {
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
  padding-right: 16px;
}

.slider-button {
  background-color: transparent;
  padding: 0;
}

.slider-button:hover,
.slider-division-button:hover {
  opacity: 0.6;
}

.slider-button:active,
.slider-division-button:active {
  opacity: 0.3;
}

.slider-button:focus,
.slider-division-button:focus {
  outline: 2px solid #af4fff;
}

.slider-button:disabled,
.slider-division-button:disabled {
  opacity: 0.1;
}

.current-slider-button:disabled {
  color: transparent;
}

.slider-division {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
  position: absolute;
  left: 542px;
  bottom: 2px;
  align-items: center;
}

.slider-division-button {
  display: block;
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.current-slider-button {
  background-color: #000000;
}

.slider-button-container {
  position: absolute;
  top: 208px;
  left: 28px;
  display: flex;
  justify-content: space-between;
  width: 532px;
}

.range-container {
  width: 1160px;
  margin: 0 auto;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-link {
  text-decoration: none;
  display: block;
}

.catalog-link:hover .catalog-item-wrapper {
  background-color: #ffc700;
}

.catalog-link:active {
  opacity: 0.3;
}

.catalog-link:focus {
  outline: 2px solid #af4fff;
}

.catalog-item-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  background-color: #ffe17f;
  margin-bottom: 32px;
}

.current-catalog-item {
  align-items: flex-end;
}

.item-active-wrapper {
  padding-top: 43px;
}

.catalog-product {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  letter-spacing: -0.02em;
}

.range-of-products {
  margin-bottom: 70px;
}

.services-container {
  width: 1300px;
  margin: 0 auto;
  padding: 0 70px 72px 70px;
}

.services {
  margin-bottom: 70px;
  background-image: linear-gradient(#ffffff 102px, #f0f0f0 102px, #f0f0f0 289px);
}

.services-wrapper {
  max-width: 1160px;
  display: flex;
}

.tabs-list,
.services-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tabs-content-wrapper {
  width: 287px;
  padding-top: 64px;
  padding-bottom: 65px;
  border-right: 7px solid #000000;
}

.tabs-description-wrapper {
  width: 873px;
}

.tabs-item:not(:last-child) {
  margin-bottom: 35px;
}

.service-title {
  margin-bottom: 34px;
}

.service-description {
  margin-bottom: 0;
}

.service-item {
  display: none;
  position: relative;
}

.service-item-active {
  display: block;
}

.service-delivery {
  padding: 72px 63px 72px 116px;
}

.service-item.service-delivery::after {
  position: absolute;
  content: "";
  width: 136px;
  height: 164px;
  background-image: url("../images/decoration/delivery-icon.svg");
  top: 79px;
  right: 64px;
}

.service-guarantee {
  padding: 72px 28px 62px 116px;
}

.service-item.service-guarantee::after {
  position: absolute;
  content: "";
  width: 171px;
  height: 195px;
  background-image: url("../images/decoration/guarantee-icon.svg");
  top: 62px;
  right: 28px;
}

.service-credit {
  padding: 65px 28px 65px 116px;
}

.service-item.service-credit::after {
  position: absolute;
  content: "";
  width: 156px;
  height: 188px;
  background-image: url("../images/decoration/credit-icon.svg");
  top: 60px;
  right: 28px;
}

.tabs-item-active {
  background-color: #000000;
  color: #efe17f;
}

.tabs-item .active-button {
  background-color: #000000;
  color: #efe17f;
  background-image: linear-gradient(transparent, transparent);
}

.advantages-button {
  width: 160px;
}

.delivery-form {
  margin-bottom: 68px;
}

.delivery-form-wrapper {
  width: 1160px;
  margin: 0 auto;
  background-color: #f0f0f0;
  text-align: center;
  cursor: pointer;
}

.button-delivery {
  position: relative;
  width: 1160px;
  background-color: #f0f0f0;
  padding: 39px 125px 38px 125px;
}

.button-delivery::before {
  position: absolute;
  content: "";
  width: 125px;
  height: 100px;
  background-image: url("../images/decoration/truck-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  background-color: #ffe17f;
}

.button-delivery::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  border: 0 solid #dcdcdc80;
  border-radius: 50%;
  background-color: #dcdcdc80;
  top: 30px;
  right: 42px;
}

.delivery-button-icon {
  position: absolute;
  right: 61px;
  top: 42px;
  fill-opacity: 0.3;
}

.button-delivery:hover.button-delivery::before {
  background-color: #ffc700;
}

.button-delivery:active {
  opacity: 0.3;
}

.button-delivery:hover .delivery-button-icon {
  fill: #000000;
  fill-opacity: 1;
}

.button-delivery:focus {
  outline: 2px solid #af4fff;
}

.delivery-feature {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2em;
}

.details-about-us {
  margin-bottom: 70px;
}

.details-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  gap: 166px;
}

.about-title,
.contacts-title {
  margin-bottom: 48px;
}

.about-description,
.contacts-description {
  margin-bottom: 30px;
}

.about-us-wrapper,
.contacts-wrapper {
  position: relative;
  padding: 47px 0 0 0;
}

.about-us-wrapper::before,
.contacts-wrapper::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 84px;
  height: 7px;
  background-color: #000000;
}

.about-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 29px;
}

.about-item::before {
  position: absolute;
  content: "";
  background-color: #ffc700;
  width: 8px;
  height: 8px;
  left: 0;
  top: 6px;
  border: 0 solid #ffc700;
  border-radius: 50%;
}

.about-item {
  position: relative;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #000000;
  padding-left: 37px;
}

.about-item:not(:last-child) {
  margin-bottom: 19px;
}

.about-button {
  display: inline-block;
  padding: 10px 22px;
}

.contacts-subtitle {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 15px;
}

.shop-address {
  font-weight: inherit;
  font-style: normal;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.address,
.phone {
  margin: 0;
  color: #444444;
}

.footer-contacts-container .phone:hover {
  color: #ffc700;
}

.footer-contacts-container .phone:active {
  color: #ffc700;
  opacity: 0.3;
}

.footer-contacts-container .phone:focus {
  outline: 2px solid #af4fff;
}

.contacts-schedule {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 30px;
}

.appointment-button {
  display: inline-block;
  padding: 10px 35px;
}

.newsletter {
  background-color: #f0f0f0;
}

.container-secondary {
  width: 1300px;
  margin: 0 auto;
  padding-left: 70px;
  padding-right: 70px;
}

.newsletter-container {
  width: 1158px;
  padding-top: 64px;
  padding-bottom: 52px;
}

.newsletter-details-wrapper {
  display: flex;
  gap: 253px;
  margin-bottom: 137px;
}

.subscription {
  width: 348px;
  margin: 0;
  margin-left: 7px;
}

.newsletter-text {
  margin: 0;
  width: 560px;
  padding-top: 9px;
}

.newsletter-form-wrapper {
  display: flex;
  justify-content: space-between;
}

.newsletter-form {
  width: 810px;
  display: flex;
}

.newsletter-email {
  width: 557px;
  padding: 14px 16px 14px 16px;
  border: none;
  background-color: #f0f0f0;
  border-bottom: 3px solid #c4c4c4;
  color: #444444;
  opacity: 0.5;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
}

.newsletter-email:focus {
  outline: 2px solid #af4fff;
}

.newsletter-button {
  width: 253px;
  padding: 18px 18px;
  background-color: transparent;
  border: 3px solid #c4c4c4;
}

.newsletter-button:hover {
  color: #ffffff;
  background-color: #000000;
  border: none;
}

.newsletter-button:active {
  color: #ffffff;
  background-color: #000000;
  border: none;
  opacity: 0.3;
}

.newsletter-button:focus {
  outline: 2px solid #af4fff;
}

.newsletter-button:disabled {
  opacity: 0.3;
  background-color: transparent;
  color: #c4c4c4;
  border: 3px solid #c4c4c4;
}

.information {
  padding-left: 32px;
  position: relative;
}

.information::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  background-image: url("../images/decoration/form-green-arrow.svg");
  left: 0;
  top: 8px;
}

.main-footer {
  background-color: #444444;
}

.footer-primary {
  width: 1158px;
  margin: 0 auto;
  display: flex;
}

.footer-address-container .shop-address {
  color: #ffffff;
  font: inherit;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 64px;
}

.footer-address-container {
  width: 239px;
  padding-top: 62px;
  padding-bottom: 77px;
  position: relative;
  margin-right: 119px;
}

.footer-address-container::after {
  position: absolute;
  content: "";
  width: 80px;
  height: 7px;
  background-color: #ffc500;
  left: 0;
  bottom: 86px;
}

.footer-logo {
  display: block;
  width: 145px;
  margin-bottom: 35px;
}

.footer-navigation-container {
  width: 455px;
  padding-top: 132px;
  padding-bottom: 61px;
}

.navigation-footer {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin-bottom: 56px;
}

.navigation-footer .catalog-item {
  margin: 0;
  padding: 0;
}

.catalog-item .footer-navigation {
  color: #ffffff;
  margin: 0;
  padding:  0;
  position: relative;
  padding-top: 4px;
  padding-bottom: 4px;
  display: inline-block;
  border-bottom: 2px solid transparent;
}

.footer-navigation:hover {
  color: #ffc700;
  border-bottom: 2px solid #ffc700;
  opacity: 1;
}

.footer-navigation:active {
  opacity: 0.3;
}

.social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 147px;
  padding-right: 147px;
  gap: 15px;
}

.footer-social-link {
  text-decoration: none;
  display: block;
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  background-color: #7c7c7c;
  position: relative;
}

.footer-social-link:hover {
  background-color: #ffc700;
}

.footer-social-link:active .footer-social-icon {
  opacity: 0.3;
}

.footer-social-link:focus {
  outline: 2px solid #af4fff;
}

.footer-contacts-container {
  width: 175px;
  padding-top: 140px;
  padding-bottom: 65px;
  margin-left: auto;
}

.footer-contacts-container .phone {
  display: block;
  color: #ffffff;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 63px;
}

.footer-contacts-container .copyright-link {
  display: block;
  width: 115px;
  margin-left: auto;
}

.footer-social-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.copyright-link:hover {
  fill: #ffffff;
}

.copyright-link:active {
  fill-opacity: 0.3;
}

.copyright-link:focus {
  outline: 1px solid #af4fff;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.9);
  z-index: 10;
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px;
  background-color: #ffffff;
  border: 10px solid #000000;
  max-height: 100vh;
  overflow-y: auto;
}

.modal-container-close {
  display: none;
}

.modal-delivery {
  width: 920px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 74px;
  right: 70px;
  width: 26px;
  height: 26px;
  background-color: #ffffff;
  border: none;
  background-image: url("../images/decoration/modal-close-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  margin: 0;
  color: #000000;
  margin-bottom: 40px;
}

.delivery-label {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-align: left;
  font-weight: 700;
  color: #000000;
  padding: 0;
  margin: 0;
  margin-bottom: 14px;
  display: block;
}

.delivery-form-field {
  font-size: 16px;
  line-height: 20px;
  font-family: "Rubik", "Arial", sans-serif;
  background-color: #f0f0f0;
  color: rgba(0, 0, 0, 0.3);
  padding: 5px 40px 5px 20px;
  border: none;
  height: 60px;
}

.login-field {
  width: 360px;
}

.login-field:hover,
.product-field:hover {
  background-color: #dcdcdc;
}

.login-field:disabled,
.product-field:disabled {
  opacity: 0.3;
  fill-opacity: 0.3;
}

.email-input-wrapper .login-field {
  color: #000000;
  border: 2px solid #ff3d3d;
}

.email-input-wrapper {
  position: relative;
}

.email-input-wrapper::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 12px;
  background-image: url("../images/decoration/modal-login-email-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 57px;
  right: 19px;
}

.product-field {
  width: 540px;
}

.product-input-wrapper {
  margin-right: 40px;
}

.field-group {
  display: flex;
  margin-bottom: 42px;
  width: 760px;
}

.name-input-wrapper {
  margin-right: 40px;
  position: relative;
}

.name-input-wrapper::after {
  position: absolute;
  content: "";
  width: 13px;
  height: 12px;
  background-image: url("../images/decoration/modal-login-field-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 57px;
  right: 20px;
}

.info-message {
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.error-message {
  font-size: 14px;
  line-height: 20px;
  color: #ff3d3d;
}

.quantity-button-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.edit-quantity {
  font: inherit;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  border: none;
  width: 60px;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
  display: inline-block;
  height: 60px;
  padding: 0;
  background-color: #f0f0f0;
}

.minus-button,
.plus-button {
  display: inline-flex;
  width: 60px;
  height: 60px;
  padding: 22px 22px;
  align-items: center;
  background-color: #f0f0f0;
}

.minus-button:hover,
.plus-button:hover {
  background-color: #ebebeb;
}

.minus-button:active,
.plus-button:active {
  opacity: 0.3;
}

.minus-button:disabled,
.pluse-button:disabled {
  color: #fafafa;
  fill: #fafafa;
}

.form-button-wrapper {
  display: flex;
  width: 180px;
}

.form-submit-button {
  padding: 10px 30px;
}

.quantity {
  padding-right: 35px;
  margin-right: 33px;
}

.tooltip-text {
  display: block;
  background-color: #000000;
  color: #ffffff;
  font: inherit;
  font-size: 16px;
  line-height: 20px;
  width: 200px;
  padding: 19px 19px;
  box-shadow: 0px 10px 0px 0px #0000001a;
  position: absolute;
  right: -32px;
  top: 40px;
  display: none;
}

.tooltip {
  position: absolute;
  left: 120px;
  top: -3px;
}

.tooltip-button {
  display: block;
  border: none;
  border-radius: 50%;
  padding: 5px 12px;
  background-color: #ffe17f;
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
}

.tooltip-button:hover + .tooltip-text,
.tooltip-button:focus + .tooltip-text {
  display: block;
}

.tooltip-text::after {
  position: absolute;
  content: "";
  width: 14px;
  height: 6px;
  background-image: url("../images/decoration/tooltip-text-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: -5px;
  left: 147px;
}

.breadcrumbs-wrapper {
  width: 1160px;
  margin: 0 auto;
  padding: 54px 21px 31px 62px;
  background-image: linear-gradient(#ffe17f 11%, #ffffff 5%);
}

.inner-title {
  margin: 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  margin-bottom: 10px;
  color: #000000;
}

.breadcrumbs-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link:focus {
  outline: 2px solid #af4fff;
}

.breadcrumbs-item {
  margin-right: 16px;
  position: relative;
  display: block;
}

.breadcrumbs-item:not(:first-child) {
  padding-left: 20px;
}

.breadcrumbs-item:not(:first-child)::after {
  position: absolute;
  display: block;
  content: "";
  background-image: url("../images/decoration/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 4px;
  height: 7px;
  top: 12px;
  left: 0;
}

.main-catalog-content {
  background-color: #f0f0f0;
}

.main-content-catalog-wrapper {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.form-catalog-wrapper {
  padding: 25px 60px;
  width: 320px;
}

.filter {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 57px;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
}

.catalog-group-color {
  margin-bottom: 29px;
}

.catalog-group-feature {
  margin-bottom: 31px;
}

.catalog-filter-title.catalog-title-feature {
  margin-bottom: 14px;
}

.catalog-flex-wrapper {
  flex-grow: 1;
}

.sorting-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
}

.catalog-filter-group-wrapper {
  position: relative;
}

.catalog-filter-group-wrapper::before {
  position: absolute;
  display: block;
  content: "";
  width: 200px;
  height: 2px;
  border-top: 2px solid #000000;
}

.catalog-filter-title {
  padding: 0;
  padding-top: 14px;
  margin: 0;
  line-height: 20px;
  color: #000000;
  font-weight: 700;
  letter-spacing: -0.02em;
  margin-bottom: 28px;
}

.catalog-filter-title.catalog-title-color {
  margin-bottom: 14px;
}

.range-scale {
  position: relative;
  width: 200px;
  height: 2px;
  background-color: #dcdcdc;
  margin-bottom: 11px;
}

.range-bar {
  position: absolute;
  height: 2px;
  width: 119px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #ebebeb;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #f5f5f5;
  border-color: #808080;
}

.range-toggle:active {
  background-color: #000000;
  border-color: #000000;
}

.range-toggle::after {
  content: "";
  position: absolute;
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid #af4fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.range-toggle:focus.range-toggle::after {
  display: block;
}

.toggle-min {
  top: -8px;
  left: -9px;
}

.toggle-max {
  top: -8px;
  right: -9px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: space-between;
  gap: 47px;
  width: 168px;
  margin-left: -15px;
}

.catalog-filter-label {
  display: flex;
  margin-right: 5px;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.3);
}

.wrapper-label-range-min {
  display: flex;
  position: relative;
}

.wrapper-label-range-min:focus-within::after {
  content: "";
  position: absolute;
  width: 71px;
  height: 100%;
  border: 2px solid #af4fff;
  display: block;
}

.wrapper-label-range-max {
  display: flex;
  margin-left: -11px;
  position: relative;
}

.wrapper-label-range-max::after {
  content: "";
  position: absolute;
  width: 71px;
  height: 100%;
  border: 2px solid #af4fff;
  display: none;
}

.catalog-filter-input {
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.3);
  background-color: transparent;
  appearance: textfield;
  border: none;
  width: 50px;
}

.input-min,
.input-max {
  outline: none;
  appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance:textfield;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
  cursor: pointer;
}

.control:hover {
  opacity: 0.6;
}

.control:active {
  opacity: 0.3;
}

.control.disabled {
  opacity: 0.1;
}

.control-input:focus + .control-mark {
  outline: 2px solid #af4fff;
}

.control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #cccccc;
  border-radius: 3px;
  left: 0;
  top: 6px;
}

.control-label {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.control-input {
  appearance: none;
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-image: url("../images/decoration/checkbox-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  top: 3px;
  left: 3px;
}

.control-input[type="checkbox"]:checked +.control-mark {
  border: 2px solid #000000;
  border-radius: 3px;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.control-input[type="radio"]:checked + .control-mark {
  border-color: #000000;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 7px;
}

.catalog-item-feature:not(:last-child) {
  margin-bottom: 10px;
}

.form-button {
  padding: 10px 50px;
}

.sorting-container .filter {
  margin: 0;
}

.moving-button {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.select-control {
  min-width: 141px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border: none;
  -moz-border: none;
  border: none;
  font: inherit;
  font-size: 18px;
  line-height: 30px;
  background-image: url("../images/decoration/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-color:#f0f0f0;
  cursor: pointer;
}

.select-control:hover {
  opacity: 0.6;
}

.select-control:active {
  opacity: 0.3;
}

.select-control:focus {
  outline: 2px solid #af4fff;
}

.select-control:disabled {
  opacity: 0.1;
}

.button-item {
  position: relative;
  display: block;
}

.button-up,
.button-down {
  width: 30px;
  height: 30px;
  padding: 10px 10px;
}

.button-up svg,
.button-down svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #000000;
  opacity: 0.2;
}

.button-up:hover svg,
.button-down:hover svg {
  fill: #000000;
  opacity: 0.5;
}

.button-up:active svg,
.button-down:active svg {
  opacity: 1;
}

.button-up:focus,
.button-down:focus {
  outline: 2px solid #af4fff;
}

.catalog-wrapper {
  background-color: #ffffff;
  padding: 70px 40px 78px 40px;
}

.catalog-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 44px 40px;
  margin-bottom: 40px;
}

.card-product {
  text-decoration: none;
  color: #000000;
  position: relative;
  display: block;
}

.card-product::after {
  content: "";
  position: absolute;
  z-index: 19;
  top: 0;
  left: 0;
  width: 360px;
  height: 380px;
  background-color: #f0f0f0;
  opacity: 0.8;
  display: none;
}

.card-product-new::before {
  content: "NEW";
  position: absolute;
  display: block;
  padding: 19px 10px 20px 10px;
  color: #000000;
  opacity: 0.6;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  border: 2px solid #00000099;
  border-radius: 50%;
  right: 27px;
  top: 27px;
}

.button-yellow-catalog {
  position: absolute;
  z-index: 20;
  top: 180px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 210px;
  display: none;
}

.card-product:hover.card-product::after,
.card-product:hover .button-yellow-catalog {
  display: block;
}

.card-product:active.card-product::after {
  display: block;
}

.card-product:active .button-yellow-catalog {
  display: block;
  background-image: linear-gradient(#ffcc33 50%, #ffcc33 50%);
}

.card-product:focus {
  outline: 2px solid #af4fff;
}

.card-image {
  display: block;
}

.card-product .card-image {
  margin-bottom: 32px;
}

.product-name {
  margin: 0;
  font-weight: 700;
  line-height: 20px;
}

.product-price {
  margin: 0;
  line-height: 21px;
}

.card-product-value-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.upload-more {
  width: 100%;
  padding: 18px 18px;
  font-size: 16px;
  line-height: 19px;
  border: 3px solid #e5e5e5;
  margin-bottom: 41px;
}

.upload-more:hover {
  border-color: #000000;
}

.upload-more:active {
  border-color: #000000;
  opacity: 0.3;
}

.upload-more:disabled {
  opacity: 0.3;
}

.upload-more:focus {
  outline: 2px solid #af4fff;
}

.pagination-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #ebebeb;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
}

.pagination-button {
  padding: 25px 23px;
}

.pagination-button-current {
  color: #444444;
  opacity: 0.3;
}

.pagination-button:hover {
  background-color: #dcdcdc;
}

.pagination-button:active {
  color:rgba(0, 0, 0, 0.3);
}

.pagination-button:focus {
  outline: 2px solid #af4fff;
}

.pagination-button:disabled {
  background-color: #ebebeb;
  color: #444444;
  opacity: 0.3;
}

.pagination-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #444444;
  opacity: 0.3;
  padding: 10px 15px;
  display: block;
  min-width: 40px;
  min-height: 40px;
  cursor: pointer;
}

.pagination-link:hover {
  opacity: 1;
}

.pagination-link:active {
  opacity: 0.1;
}

.pagination-link:focus {
  outline: 2px solid #af4fff;
}

.pagination-active.disabled {
  color: #444444;
  opacity: 0.6;
}

.pagination-text {
  display: block;
  font-size: 16px;
  line-height: 20px;
  min-width: 40px;
  height: 40px;
  padding: 10px 10px;
  text-align: center;
  opacity: 0.3;
}
